<h1>TIC TAC TOE </h1>
<p> Do you wish to play with a friend or with AI?</p>


<a class="AI-button" routerLink="/AI-game"> AI</a>

<a class="friend-button" routerLink="/friend-game">Friend</a>


<div class="board">
    <div class="cell">
        <p class="X">X</p>
    </div>
    <div class="cell"></div>
    <div class="cell">
    </div>
    <div class="cell"></div>
    <div class="cell">
        <p class="O">O</p>
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
</div>